*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    padding: 2rem;
    gap: 4rem;
    position: relative;
    background-image: linear-gradient(rgb(58, 53, 53),rgb(35, 33, 33));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}
h1{
    width: 100%;
    justify-self: center;
    text-align: center;
}
