h1{
    letter-spacing: .1rem;
}
h1.success{
    color: oklch(from currentColor l .05 180deg);
}

h1.error{
    color: oklch(from currentColor l .05 0deg);
}

a{
    display: block;
    width: fit-content;
    border-radius: 20px;
    padding: 1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    letter-spacing: .1rem;
    background-color: rgb(100, 91, 101);
    transition: scale .1s;
    &:hover{
        scale:1.06;
    }
}

.message{
    font-size: 1.25rem;
    text-align: center;
}

.verify-container{
    align-self: center;
    width: 70vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.error-message{
    text-align: center;
}